

$sans-serif1: "Lato", sans-serif;
$sans-serif2: "Poppins", sans-serif;
$background-color: #FFFFFF;
$main-color: #082B59;
$secondary-color: #59331D;
$accent-color: #D98555;
$secondary-accent-color: #F2F2F2;
$radius: 10px;
$stdspace: 1rem;


//mixins
@mixin boxmodel1 ($margin,$padding) {
  margin: $margin;
  padding: $padding;
}

@mixin textposition ($flex-basis,$textalign) {
  flex-basis: $flex-basis;
  text-align: $textalign;
}




html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    background-color: $main-color;
    @include boxmodel1 (0 auto,0);
    font-family: $sans-serif1;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: $sans-serif2;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  /* make images flexible */
  img {
    max-width: 75%;
  }
  a {
    color: $secondary-color;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    border-bottom: $radius solid $accent-color;
  }
  /* navbar styling */
  nav ul {
    @include boxmodel1 (0 auto,0);
    list-style-type: none;
    display: block;
    text-align: center;
  }
  nav li {
    margin: (0 $stdspace $stdspace $stdspace);
    font-size: 1.3rem;
  }
  /* max width on the image in pixels */
  nav .logo img {
    max-width: 200px;
  }
  /* flex basis on the image container, li */
  nav .logo {
    flex-basis: 60%;
    text-align: center;
    justify-content: left;
  }
  nav a {
    color: $secondary-accent-color;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: $accent-color;
  }
  /* establishes a white background */
  .main-bkgd {
    background: $secondary-accent-color url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
  }
  /* sits inside of the white background, centered */
  .main {
    max-width: 1200px;
    @include boxmodel1 (0 auto, 2 rem);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  article{
    flex-basis: 100%;
  }
    figure {
    margin: (3rem 0 0 0);
    flex-basis: 100%;
      border-radius: $radius; 
    }
  img {
      border-radius: 10%;
      max-width: 95%;
  }
  figcaption {
    color: $secondary-accent-color;
    padding: 0.5rem;
  } 
  .button {
    display: inline-block;
    background-color: $secondary-color;
    border-radius: $radius;
    @include boxmodel1 (0, 0.5rem 1rem);
    color: $secondary-accent-color;
    text-decoration: none;
    border: 3px solid $secondary-color;
  }
  .button:hover {
    background-color: $secondary-accent-color;
    color: $secondary-color;
  }
  footer {
    color: $secondary-accent-color;
    text-align: center;
    border-top: $radius; color: $secondary-accent-color;
  ul {
    list-style-type: none;
    @include boxmodel1 (0,0);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  a {
    color: $secondary-accent-color;
    font-size: 2rem;
    display: block;
    margin: (0 $stdspace 3 $stdspace);
  }
}


  @media (min-width: 768px) {
    body {
    background-image: url(media/images/gulp-bottom-beans);
    margin: 0.5rem;
    }
    img {
      display: flex;
      }
     nav ul {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
     }
      article {
        flex-basis: 73%;
      }
        figure {
        margin: (3 0 0 0);
        flex-basis: 33%; 
        }
      .span {
        flex-basis: 22%;
      }
      nav a {
        margin: (0 0 3 0);
          text-align: center;
      }
      .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
      .item {
        flex-basis: 50%;
        margin: 0;
      }
      .logo {
        @include textposition(100%,center);
      }

  @media (min-width: 769px) {}
    nav ul {
         display: flex;
         flex-flow: row wrap;
         justify-content: center;
     
     a {
      margin: (0 0 3 0);
     }
    }
     .logo {
         @include textposition(100%,center);
     }
     .main {
       display: flex;
       flex-flow: nowrap;
     }
     .product-container{
       font-size: smaller;
     }
    .product-container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: 3;
    }
    .item1 {
     grid-column: 1/ span 1;
     grid-row: 1;
    }
    .item2 {
     grid-column: 2/ span 1;
     grid-row: 1;
    }
    .item3{
     grid-column: 1/ span 1;
     grid-row: 2;
    }
    .item4{
     grid-column: 2/ span 1;
     grid-row: 2;
    }
    .item5{
     grid-column: 1/ span 1;
     grid-row: 3;
    }
    .item6{
     grid-column: 2/ span 1;
     grid-row: 3;
    }
  }
  
  
  
  @media (min-width: 1025px) {
    .image1{
      display: block;
    }
    .image2{
      display: none;
    }
    .logo {
      flex-basis: 60%;
    }
    nav ul {
      flex-flow: row;
      align-items: center;
    
    .logo {
     text-align: start;
    }
  }
    .product-container{
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: 2;
    }
    .item1 {
      grid-column: 1/ span 1;
      grid-row: 1;
    }
     .item2 {
      grid-column: 2/ span 1;
      grid-row: 1;
     }
     .item3{
      grid-column: 3/ span 1;
      grid-row: 1;
     }
     .item4{
      grid-column: 1/ span 1;
      grid-row: 2;
     }
     .item5{
      grid-column: 2/ span 1;
      grid-row: 2;
     }
     .item6{
      grid-column: 3/ span 1;
      grid-row: 2;
     }
     .product{
      max-width: 1200px;
      @include boxmodel1 (0 auto, 1 rem);
     } 
     
   
  
    }
     